pipeline/1 - SqlToLanding.json
{
	"name": "1 - SqlToLanding",
	"properties": {
		"activities": [
			{
				"name": "List of Tables to Load",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Clean Landing",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "csvConfiguration",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Save Landing Files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "List of Tables to Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List of tables to load').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Active For Load",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(equals(trim(item().Load), 'N'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Carga Landing",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "SELECT *, @{formatDateTime(pipeline().TriggerTime,'yyyyMMdd')} AS fechaCarga, '@{pipeline().RunId}' AS pipelineID \nFROM @{item().SchemaName}.@{item().TableName} \nWHERE @{item().IncrementalColumn} >= CAST(CAST('@{item().UpdateDate}' AS nvarchar) AS datetime2);",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings",
													"copyBehavior": "FlattenHierarchy"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"parallelCopies": 1,
											"dataIntegrationUnits": 4,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "dsSQLGenerico",
												"type": "DatasetReference",
												"parameters": {
													"NombreServidor": "@item().ServerName",
													"NombreBD": "@item().DataBaseName",
													"NombreEsquema": "@item().SchemaName",
													"NombreTabla": "@item().TableName",
													"FechaActualizacion": "@item().UpdateDate",
													"ColumnaIncremental": {
														"value": "@item().IncrementalColumn",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "dsParquetRaw",
												"type": "DatasetReference",
												"parameters": {
													"NombreFichero": "@concat( item().FileName, '_', formatDateTime(utcnow(), 'yyyyMMdd'),'.', item().Format)"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Clean Landing",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dsParquetRaw",
						"type": "DatasetReference",
						"parameters": {
							"NombreFichero": "*"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "ls_ADLG2_Bronze_Landing",
							"type": "LinkedServiceReference"
						},
						"path": "mdw/bronze/Logs"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": "*",
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-09-16T00:20:34Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}