pipeline/2 - BronzeToSilver.json
{
	"name": "2 - BronzeToSilver",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata Landing",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "ConnectionString",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dsRawEntidades",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "ParquetReadSettings"
					}
				}
			},
			{
				"name": "Delete SUCCESS File",
				"type": "Delete",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dsConfiguration",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": {
							"value": "@variables('ficheroEliminar')",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "UPSERT to Silver",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Landing Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "MergeLandingFilesToSilver",
						"type": "NotebookReference"
					},
					"parameters": {
						"data_lake_container": {
							"value": {
								"value": "@pipeline().parameters.ADLG2",
								"type": "Expression"
							}
						},
						"bronze_folder": {
							"value": {
								"value": "@pipeline().parameters.BronzeFolderPending",
								"type": "Expression"
							}
						},
						"silver_folder": {
							"value": {
								"value": "@pipeline().parameters.SilverFolder",
								"type": "Expression"
							}
						},
						"LandingFiles": {
							"value": {
								"value": "@variables('LandingFiles')",
								"type": "Expression"
							}
						},
						"connection_string": {
							"value": {
								"value": "@variables('connString')",
								"type": "Expression"
							}
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "sparkTFM",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": false,
						"spark.dynamicAllocation.minExecutors": 2,
						"spark.dynamicAllocation.maxExecutors": 2
					},
					"driverSize": "Small",
					"numExecutors": 2
				}
			},
			{
				"name": "Landing Files",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata Landing",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LandingFiles",
					"value": {
						"value": "[\"@activity('Get Metadata Landing').output.childItems\"]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get ConnectionString",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "dsConfiguration",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ConnectionString",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get ConnectionString",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LandingFiles",
					"value": {
						"value": "[\"@activity('Get Metadata Landing').output.childItems\"]",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"ADLG2": {
				"type": "string",
				"defaultValue": "abfss://mdw@datalake1pgc.dfs.core.windows.net"
			},
			"BronzeFolderPending": {
				"type": "string",
				"defaultValue": "bronze/Landing/Pending"
			},
			"SilverFolder": {
				"type": "string",
				"defaultValue": "silver/DeltaTables"
			}
		},
		"variables": {
			"ficheroEliminar": {
				"type": "String",
				"defaultValue": "_SUCCESS"
			},
			"LandingFiles": {
				"type": "String"
			},
			"connString": {
				"type": "String"
			}
		},
		"annotations": []
	}
}