pipeline/3 - Load SCD2 and Fact.json
{
	"name": "3 - Load SCD2 and Fact",
	"properties": {
		"activities": [
			{
				"name": "LoadSCD2DimsAndFact",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "tablesToLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "LoadSCD2AndFact",
						"type": "NotebookReference"
					},
					"parameters": {
						"data_lake_container": {
							"value": {
								"value": "@pipeline().parameters.ADLG2",
								"type": "Expression"
							},
							"type": "string"
						},
						"connection_string": {
							"value": {
								"value": "@variables('connectionString')",
								"type": "Expression"
							},
							"type": "string"
						},
						"gold_folder_logs": {
							"value": {
								"value": "@pipeline().parameters.GoldFolderLogs",
								"type": "Expression"
							},
							"type": "string"
						},
						"container_name": {
							"value": {
								"value": "@pipeline().parameters.ContainerName",
								"type": "Expression"
							},
							"type": "string"
						},
						"metadata_folder": {
							"value": {
								"value": "@pipeline().parameters.MetadataFolder",
								"type": "Expression"
							},
							"type": "string"
						},
						"tables_to_load": {
							"value": {
								"value": "@string(variables('tablesToLoad'))",
								"type": "Expression"
							},
							"type": "string"
						},
						"golden_folder_dimensions": {
							"value": {
								"value": "@pipeline().parameters.GoldenFolderDimensions",
								"type": "Expression"
							},
							"type": "string"
						},
						"golden_folder_fact": {
							"value": {
								"value": "@pipeline().parameters.GoldenFolderfact",
								"type": "Expression"
							},
							"type": "string"
						},
						"year": {
							"value": {
								"value": "@formatDateTime(utcnow(), 'yyyy')",
								"type": "Expression"
							},
							"type": "string"
						},
						"month": {
							"value": {
								"value": "@formatDateTime(utcnow(), 'MM')",
								"type": "Expression"
							},
							"type": "string"
						},
						"day": {
							"value": {
								"value": "@formatDateTime(utcnow(), 'dd')",
								"type": "Expression"
							},
							"type": "string"
						},
						"hour": {
							"value": {
								"value": "@formatDateTime(utcnow(), 'HHmmss')",
								"type": "Expression"
							},
							"type": "string"
						},
						"executionID": {
							"value": {
								"value": "@pipeline().parameters.executionID",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "sparkTFM",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": false,
						"spark.dynamicAllocation.minExecutors": 2,
						"spark.dynamicAllocation.maxExecutors": 2
					},
					"driverSize": "Small",
					"numExecutors": 2
				}
			},
			{
				"name": "Search ActiveForLoad",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "connectionString",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "csvConfiguration",
						"type": "DatasetReference",
						"parameters": {
							"NombreCSV": "ConfiguracionReporting.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "tablesToLoad",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Search ActiveForLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "tablesToLoad",
					"value": {
						"value": "@activity('Search ActiveForLoad').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get ConnectionString",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "dsConnectionString",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "connectionString",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get ConnectionString",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "connectionString",
					"value": {
						"value": "@activity('Get ConnectionString').output.value[0].conn\n",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"ADLG2": {
				"type": "string",
				"defaultValue": "abfss://mdw@datalake1pgc.dfs.core.windows.net"
			},
			"GoldFolderLogs": {
				"type": "string",
				"defaultValue": "gold/Logs"
			},
			"ContainerName": {
				"type": "string",
				"defaultValue": "mdw"
			},
			"MetadataFolder": {
				"type": "string",
				"defaultValue": "mdw/bronze/Configuration"
			},
			"GoldenFolderDimensions": {
				"type": "string",
				"defaultValue": "gold/Dimensions"
			},
			"GoldenFolderfact": {
				"type": "string",
				"defaultValue": "gold/Fact"
			},
			"year": {
				"type": "string"
			},
			"month": {
				"type": "string"
			},
			"day": {
				"type": "string"
			},
			"hour": {
				"type": "string"
			},
			"executionID": {
				"type": "string"
			}
		},
		"variables": {
			"tablesToLoad": {
				"type": "Array",
				"defaultValue": [
					"a"
				]
			},
			"connectionString": {
				"type": "String",
				"defaultValue": "a"
			}
		},
		"annotations": []
	}
}