pipeline/3 - Load SCD2 and Fact.json
{
	"name": "3 - Load SCD2 and Fact",
	"properties": {
		"activities": [
			{
				"name": "LoadSCD2DimsAndFact",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "tablesToLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "LoadSCD2AndFact",
						"type": "NotebookReference"
					},
					"parameters": {
						"data_lake_container": {
							"value": "@pipeline().parameters.ADLG2",
							"type": "string"
						},
						"connection_string": {
							"value": "@variables('connectionString')",
							"type": "string"
						},
						"gold_folder_logs": {
							"value": {
								"value": "@pipeline().parameters.GoldFolderLogs",
								"type": "Expression"
							},
							"type": "string"
						},
						"container_name": {
							"value": {
								"value": "@pipeline().parameters.ContainerName",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "sparkTFM",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": false,
						"spark.dynamicAllocation.minExecutors": 2,
						"spark.dynamicAllocation.maxExecutors": 2
					},
					"driverSize": "Small",
					"numExecutors": 2
				}
			},
			{
				"name": "Search ActiveForLoad",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "connectionString",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "csvConfiguration",
						"type": "DatasetReference",
						"parameters": {
							"NombreCSV": "*"
						}
					}
				}
			},
			{
				"name": "tablesToLoad",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Search ActiveForLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "tablesToLoad",
					"value": [
						""
					]
				}
			},
			{
				"name": "Get ConnectionString",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "dsConnectionString",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "connectionString",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get ConnectionString",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "connectionString",
					"value": {
						"value": "@activity('Get ConnectionString').output.value[0].conn\n",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"ADLG2": {
				"type": "string",
				"defaultValue": "abfss://mdw@datalake1pgc.dfs.core.windows.net"
			},
			"GoldFolderLogs": {
				"type": "string",
				"defaultValue": "gold/Logs"
			},
			"ContainerName": {
				"type": "string",
				"defaultValue": "mdw"
			}
		},
		"variables": {
			"tablesToLoad": {
				"type": "Array",
				"defaultValue": [
					"a"
				]
			},
			"connectionString": {
				"type": "String",
				"defaultValue": "a"
			}
		},
		"annotations": []
	}
}