pipeline/Orchestrator.json
{
	"name": "Orchestrator",
	"properties": {
		"activities": [
			{
				"name": "Load Bronze",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Get exeuctionID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "1 - SqlToLanding",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Load Silver",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load Bronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "2 - BronzeToSilver",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"executionID": {
							"value": "@activity('Get exeuctionID').output.pipelineReturnValue.executionID",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Load and Transform Gold",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load Silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "3 - Load SCD2 and Fact",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"executionID": {
							"value": "@activity('Get exeuctionID').output.pipelineReturnValue.executionID",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Get exeuctionID",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "0 - Get ExecutionID",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"annotations": []
	}
}