pipeline/Orchestrator.json
{
	"name": "Orchestrator",
	"properties": {
		"activities": [
			{
				"name": "Load Bronze",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Get exeuctionID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "1 - SqlToLanding",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Load Silver",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load Bronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "2 - BronzeToSilver",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"year": {
							"value": "@activity('Get exeuctionID').output.pipelineReturnValue.year",
							"type": "Expression"
						},
						"month": {
							"value": "@activity('Get exeuctionID').output.pipelineReturnValue.month",
							"type": "Expression"
						},
						"day": {
							"value": "@activity('Get exeuctionID').output.pipelineReturnValue.day",
							"type": "Expression"
						},
						"hour": {
							"value": "@activity('Get exeuctionID').output.pipelineReturnValue.hour",
							"type": "Expression"
						},
						"ExecutionID": {
							"value": "@activity('Get exeuctionID').output.pipelineReturnValue.ExecutionID",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Load and Transform Gold",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load Silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "3 - Load SCD2 and Fact",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"year": {
							"value": "@activity('Get exeuctionID').output.pipelineReturnValue.year",
							"type": "Expression"
						},
						"month": {
							"value": "@activity('Get exeuctionID').output.pipelineReturnValue.month",
							"type": "Expression"
						},
						"day": {
							"value": "@activity('Get exeuctionID').output.pipelineReturnValue.day",
							"type": "Expression"
						},
						"hour": {
							"value": "@activity('Get exeuctionID').output.pipelineReturnValue.hour",
							"type": "Expression"
						},
						"ExecutionID": {
							"value": "@activity('Get exeuctionID').output.pipelineReturnValue.ExecutionID",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Get exeuctionID",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "0 - Get ExecutionID",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"annotations": []
	}
}